# =============================================
# Credenciales privadas de Arduino / ESP8266
# =============================================
wifi_credentials.h

# =============================================
# Archivos de sistema
# =============================================
.DS_Store
Thumbs.db
